html, body {
  width: 100%;
  height: 100%;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
}

.background video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background .background-cover {
  background-image: radial-gradient(#552d83 0%, #282853 50%, #081122 100%);
  opacity: 0.98;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  position: relative;
}

section.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section.title .type {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: 600;
  padding-right: 12px;
  color: #f0f0f0;
}

section.title .logo {
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
  margin-right: -12px;
}

section.subtitle {
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  font-weight: 600;
  color: #f0f0f0;
  text-align: center;
  padding-top: 40px;
}

section.subtitle strong {
  font-weight: 600;
  color: #91d3cb;
}

section.subtitle::before {
  content: "";
  position: absolute;
  /* width: 6px;
  height: 6px;
  border-radius: 6px; */
  width: 32px;
  height: 1px;
  background-color: #f0f0f0;
  opacity: 0.5;
  bottom: -60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

section.links {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 140px;
}

section.links a {
  color: #91d3cb;
}

section.links a.highlight {
  color: #91d3cb;
}

/* Responsive */

@media (max-width: 440px) {
  section.title .type {
    font-size: 64px;
  }
  section.title .logo {
    width: 64px;
    height: 64px;
  }
  section.subtitle {
    font-size: 22px;
  }
}